
 .center-container {
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
 .container {
    width: 100%;
    max-width: 1200px; 
    margin: auto;
  }

  button {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    background-color: #441717;
    border-radius: 5px !important;
    color: white;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
 
  @media (max-width: 768px) {
    table {
      display: block;
      overflow-x: auto;
      white-space: nowrap;
    }
  }
 
  .editbtn , .viewbtn {
    background-color: #0056b3; /* Green */
    color: white;
    border: none;
    padding: 6px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-right: 5px;
  }
  
  .editbtn:hover , .viewbtn:hover {
    background-color: #0057b3e7; /* Darker Green */
  }
  
  .delbtn {
    background-color: #dc3545; /* Red */
    color: white;
    border: none;
    padding: 6px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .delbtn:hover {
    background-color: #c82333; /* Darker Red */
  }















 
  
  